{% extends 'registration/base.html' %}
{% load i18n %}
{% block title %}Вход{% endblock %}

{% block styles %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        .ui.form .error.message {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    {% trans "Зарегистрируйтесь" %}
                </div>
            </h2>
            {% if form.non_field_errors %}
                <div class="ui error message">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form action="" method="post" class="ui large form">
                {% csrf_token %}
                <div class="ui segment">
                    {% for field in form %}
                        <div class="field">
                            {% if field.errors %}
                                <div class="ui negative message">
                                    <div class="header">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endif %}
                            {{ field.label_tag }}
                            <div class="ui left input">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" class="ui fluid large teal submit button" value="{% trans "Зарегистрироваться" %}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}